body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#quiz-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#question-container {
  margin-top: 20px;
}

#answers {
  display: flex;
  justify-content: center;
}

#answers button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#answers button:hover {
  background-color: #3e8e41;
}

#final-score-container {
  margin-top: 20px;
}

#final-score-container form {
  margin-top: 20px;
}

#final-score-container label {
  margin-right: 10px;
}

#final-score-container input {
  padding: 10px;
  font-size: 16px;
}

#final-score-container button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#final-score-container button:hover {
  background-color: #3e8e41;
}

#quiz-container{
  display:none;
}
